{
  "CN": "system:kube-proxy",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ infrastructure.ca.country }}",
      "L": "{{ infrastructure.ca.city }}",
      "O": "system:kube-proxy",
      "OU": "{{ infrastructure.ca.organizationUnit }}",
      "ST": "{{ infrastructure.ca.province }}"
    }
  ]
}
