{
  "signing": {
    "default": {
      "expiry": "{{ infrastructure.ca.certificate.expireTime }}"
    },
    "profiles": {
      "kubernetes": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "{{ infrastructure.ca.certificate.expireTime }}"
      }
    }
  }
}
