{
    "CN": "kube-etcd-healthcheck-client",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [{
        "C": "{{ infrastructure.ca.country }}",
        "L": "{{ infrastructure.ca.city }}",
        "O": "kube-etcd-healthcheck-client",
        "OU": "{{ infrastructure.ca.organizationUnit }}",
        "ST": "{{ infrastructure.ca.province }}"
    }]
}
