- name: install package
  apt:
    name: "{{ item }}"
    update_cache: yes
  with_items:
  - 'apt-transport-https'
  - 'ca-certificates'
  - 'curl'
  - 'software-properties-common'
  - 'socat'
  - 'conntrack'
  - 'ipset'

- name: Remove swapfile from /etc/fstab
  mount:
    name: swap
    fstype: swap
    state: absent

- name: Disable swap
  command: swapoff -a

- name: create required directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - '/etc/cni/net.d'
  - '/opt/cni/bin'
  - '/opt/containerd'
  - '/var/lib/kubelet'
  - '/var/lib/kube-proxy'
  - '/var/lib/kubernetes'
  - '/var/run/kubernetes'
  - '/etc/kubernetes/manifests'
  - '/etc/containerd/'

- name: Download and extract Kubernetes server
  unarchive:
    src: https://dl.k8s.io/{{ kubernetes_version }}/kubernetes-server-linux-amd64.tar.gz
    dest: /opt/
    remote_src: yes

- name: install kubectl, kube-proxy, and kubelet
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: a+x
    remote_src: yes
  with_items:
  - { src: '/opt/kubernetes/server/bin/kubelet', dest: '/usr/local/bin/kubelet' }
  - { src: '/opt/kubernetes/server/bin/kube-proxy', dest: '/usr/local/bin/kube-proxy' }
  - { src: '/opt/kubernetes/server/bin/kubectl', dest: '/usr/local/bin/kubectl' }

- name: Download and extract containerd
  unarchive:
    src:   https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/containerd-{{ containerd_version }}-linux-amd64.tar.gz
    dest: /opt/containerd
    remote_src: yes

- name: install containerd
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: a+x
    remote_src: yes
  with_items:
  - { src: '/opt/containerd/bin/containerd', dest: '/bin/containerd' }
  - { src: '/opt/containerd/bin/containerd-shim', dest: '/bin/containerd-shim' }
  - { src: '/opt/containerd/bin/containerd-shim-runc-v1', dest: '/bin/containerd-shim-runc-v1' }
  - { src: '/opt/containerd/bin/containerd-stress', dest: '/bin/containerd-stress' }
  - { src: '/opt/containerd/bin/ctr', dest: '/bin/ctr' }


- name: Downlaod and crictl-{{ cri_version }}-linux-amd64.tar.gz
  unarchive:
    src: https://github.com/kubernetes-sigs/cri-tools/releases/download/{{ cri_version }}/crictl-{{ cri_version }}-linux-amd64.tar.gz
    dest: /usr/local/bin/
    remote_src: yes

- name: Downlaod runc
  get_url:
    url: https://github.com/opencontainers/runc/releases/download/{{ runc_version }}/runc.amd64
    dest: /usr/local/bin/runc
    remote_src: yes
    mode: a+x

- name: Downlaod and Extract cni-plugins-amd64-{{ cni_version }}.tgz
  unarchive:
    src: https://github.com/containernetworking/plugins/releases/download/{{ cni_version }}/cni-plugins-linux-amd64-{{ cni_version }}.tgz
    dest: /opt/cni/bin/
    remote_src: yes
    
- name: Copy cert
  copy: 
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
  with_items:
    - { src: '/home/{{ user }}/{{ inventory_hostname }}-key.pem', dest: '/var/lib/kubelet/{{ inventory_hostname }}-key.pem' }
    - { src: '/home/{{ user }}/{{ inventory_hostname }}.pem', dest: '/var/lib/kubelet/{{ inventory_hostname }}.pem' }
    - { src: '/home/{{ user }}/{{ inventory_hostname }}.kubeconfig', dest: '/var/lib/kubelet/kubeconfig' }
    - { src: '/home/{{ user }}/ca.pem', dest: '/var/lib/kubernetes/ca.pem' }
    - { src: '/home/{{ user }}/kube-proxy.kubeconfig', dest: '/var/lib/kube-proxy/kubeconfig' }

- name: copy containerd config
  template:
    src: "config.toml.j2"
    dest: "/etc/containerd/config.toml"
    mode: 644

- name: copy containerd service
  template:
    src: "containerd.service.j2"
    dest: "/etc/systemd/system/containerd.service"
    mode: 644

- name: restart containerd
  systemd:
    name: containerd
    state: restarted
    daemon_reload: yes
    enabled: yes

- name: copy custom resolv.conf
  template:
    src: "resolv.conf.j2"
    dest: "/var/lib/kubernetes/resolv.conf"
    mode: 644

- name: copy kubelet config
  template:
    src: "kubelet-config.yml.j2"
    dest: "/var/lib/kubelet/kubelet-config.yml"
    mode: 644

- name: copy kubelet service
  template:
    src: "kubelet.service.j2"
    dest: "/etc/systemd/system/kubelet.service"
    mode: 644

- name: copy kube-proxy config
  template:
    src: "kube-proxy-config.yml.j2"
    dest: "/var/lib/kube-proxy/kube-proxy-config.yml"
    mode: 644

- name: copy kube-proxy service
  template:
    src: "kube-proxy.service.j2"
    dest: "/etc/systemd/system/kube-proxy.service"
    mode: 644

- name: restart kubelet
  systemd:
    name: kubelet
    state: restarted
    daemon_reload: yes
    enabled: yes

- name: restart kube-proxy
  systemd:
    name: kube-proxy
    state: restarted
    daemon_reload: yes
    enabled: yes


