{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ ca_country }}",
      "L": "{{ ca_city }}",
      "O": "Kubernetes",
      "OU": "CA",
      "ST": "{{ ca_province }}"
    }
  ]
}
