{
  "CN": "aggregator",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ ca_country }}",
      "L": "{{ ca_city }}",
      "O": "metrics-server",
      "OU": "{{ ca_organization_unit }}",
      "ST": "{{ ca_province }}"
    }
  ]
}
