{
  "CN": "aggregator",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "metrics-server",
      "OU": "Kubernetes The Hard Way",
      "ST": "Oregon"
    }
  ]
}