kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      {% for resource in kubernetes.components.encryptionProvider.resources %}
      - {{ resource }}
      {% endfor %}
    providers:
      - {{ kubernetes.components.encryptionProvider.provider }}:
          keys:
            - name: primary
              secret: {{ kubernetes.components.encryptionProvider.keys }}
      - identity: {}
