vrrp_script haproxy-check {
    script "killall -0 haproxy"
    interval 2
    weight 20
}

vrrp_instance haproxy-vip {

interface {{ infrastructure.keepalived.interface }}
state {% if hostvars[inventory_hostname].inventory_hostname == keepalived_master %} MASTER {% else %} backup {% endif %}
priority {% if hostvars[inventory_hostname].inventory_hostname == keepalived_master %} 100 {% else %} 99 {% endif %}

virtual_router_id {{ infrastructure.keepalived.routerID }}
unicast_src_ip {{ hostvars[inventory_hostname].inventory_hostname }}

unicast_peer {
{% for node in groups['master'] %}
    {% if node == hostvars[inventory_hostname].inventory_hostname %}
    {% else %}
        {{ node }}
    {% endif %}
{% endfor %}
}

virtual_ipaddress {
        {{ infrastructure.keepalived.virtualIP }}
    }
}
