vrrp_script haproxy-check {
    script "killall -0 haproxy"
    interval 2
    weight 20
}

vrrp_instance haproxy-vip {

interface {{ keepalived_interface }}
state {% if hostvars[inventory_hostname].ansible_host == keepalived_master %} MASTER {% else %} backup {% endif %}
priority {% if hostvars[inventory_hostname].ansible_host == keepalived_master %} 100 {% else %} 99 {% endif %}

virtual_router_id {{ keepalived_rid }}
unicast_src_ip {{ hostvars[inventory_hostname].ansible_host }}

unicast_peer {
{% for node in groups['master'] %}
    {% if node == hostvars[inventory_hostname].ansible_host %}
    {% else %}
        {{ node }}
    {% endif %}
{% endfor %}
}

virtual_ipaddress {
        {{ virtual_ip }}
    }
}
