{
    "CN": "kubernetes-front-proxy-ca",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [{
        "C": "{{ infrastructure.ca.country }}",
        "L": "{{ infrastructure.ca.city }}",
        "O": "Kubernetes {{ kubernetes.clusterName }}",
        "OU": "{{ infrastructure.ca.organizationUnit }}",
        "ST": "{{ infrastructure.ca.province }}"
    }]
}
